.header {
    width: 70%;
    padding: 15px;
    margin: 20px auto auto;
    font-family: 'Pacifico', cursive;
    color: #ffffff;
    font-style: normal;
    background-color: #fca311;
    border: none; 
    border-radius: 60px; 
    display: flex;                 
    justify-content: space-between; 
    align-items: center;            
}

.header h1 {
    margin: 0; 
    margin-left: 20px;
    font-size: 30px;
}

.header a {
    display: flex; 
}

.header img {
    margin-right: 20px;
    width: 40px;
    height: auto;
}