.header {
    width: 90%;
    padding: 10px;
    margin: 10px auto 0; 
    font-family: "Crete Round", serif;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.219); 
    backdrop-filter: blur(10px); 
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2); 
    position: sticky;
    top: 7vh; 
    z-index: 100;
}

.header h1 {
    margin: 0; 
    margin-left: 20px;
    font-size: 25px;
    font-weight: 300;
    color:#e0e0e0d6;
}


/* .header a{
    margin-right: 20px;
    width: 70px;
    height: auto;
    font-family: sans-serif;
    color: white;
} */

.header a {
    display: flex; 
}

.header img {
    margin-right: 20px;
    width: 40px;
    height: auto;
}