@font-face {
    font-family: 'SFOpen';
    src: url('/fonts/sf-pro-display/SFPRODISPLAYREGULAR.OTF') format('opentype');
}

.inner {
    position: relative;
    width: 100%;
}

.upload-container{
    margin-top: 20px;
}

.upload-button {
    width: 30%;
    padding: 20px 40px;
    font-size: 22px;   
    color: #ffffff; 
    margin: 0 0 auto auto;
    background-color: #202020;
    border: none;
    border-radius: 40px;
    font-family: "SFOpen";
}

.upload-button:hover {
    background-color: #bbb;
}

.file-formats {
    font-family: "SFOpen";
    margin-top: 8px;
    color: #202020; 
    font-size: 14px;
}
