@font-face {
    font-family: 'SFOpen';
    src: url('/fonts/sf-pro-display/SFPRODISPLAYREGULAR.OTF') format('opentype');
}

.inner {
    position: relative;
    width: 100%;
}

.upload-container{
    margin-top: 0px;
}

.upload-button {
    width: 30%;
    padding: 20px 40px;
    font-size: 22px;   
    font-weight: lighter;
    margin: 0 0 auto auto;
    background-color: rgba(255, 255, 255, 0.911);
    border: none;
    border-radius: 40px;
    font-family: "SFOpen";
    box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24); 
    cursor: pointer; 
    outline: none; 
    transition: 0.2s all; 
}

.upload-button:hover {
    background-color: white;
}

.upload-button:active { 
    transform: scale(0.98); 
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24); 
} 

.file-formats {
    font-family: "SFOpen";
    margin-top: 8px;
    color: #202020; 
    font-size: 14px;
}
